<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body{
        background-size:100%;
        background-repeat:no-repeat;


    }
    #regform{
        padding:20px 30px;
        color:black;
        font-size:18px;
        background-color:white;
        width:50%;
        height:500px;
        margin-top:100px;
        margin-left:600px;
        }

    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="text-align:center;font-family:Arial; color:blue;">REGISTER</h1>

    <form id="regform" action="register" method="POST">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username"><br/><br/>
        <label>Firstname:</label>
        <input type="text" name="first_name"><br/><br/>
        <label>Lastname:</label>
        <input type="text" name="last_name"><br/><br/>
        <label>Email:</label>
        <input type="email" name="email"><br/><br/>
        <label>Password:</label>
        <input type="password" name="password"><br/><br/>
        <label>Confirm Password:</label>
        <input type="password" name="password1"><br/><br/>

        <input type="submit" value="REGISTER"><br><br>

    </form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>